<table border="1" cellspacing="2">
  <tr>
    <th>SN</th>
    <th>Name</th>
    <th>Profession</th>
    <th>City</th>
    <th>Fee Status</th>
    <th>Student Json</th>
  </tr>
  <tr *ngFor="let aStudent of students; let i = index">
    <td>{{i + 1}}</td>
    <td>{{aStudent.name | uppercase}}</td>
    <td>{{aStudent.profession}}</td>
    <td>{{aStudent.city}}</td>
    <td>
      <button (click)="payNow(aStudent)" style="background: blue; color: #fff;" type="button"
              *ngIf="aStudent.feeStatus !== 'PAID'">
        Pay Now
      </button>
      <span style="color: green;" *ngIf="aStudent.feeStatus === 'PAID'">PAID</span>
    </td>
    <td>{{aStudent | json}}</td>
  </tr>
</table>

<input type="text" [ngModel]="userName">

{{userName}}

<app-input-event *ngIf="studentInfo" [studentDetail]="studentInfo"></app-input-event>

<app-output-event (adder)="getAdder($event)"></app-output-event>

<h3>Counter Result: {{counter}}</h3>

<div *ngIf="googleIndex">
  {{googleIndex}}
</div>
